

#The application host name
HOST=localhost
#The application port to get access from the docker container
PORT=7788

#Parameters for getting the access to the database
DB_DRIVER=postgres
DB_NAME=mydatabase
DB_HOST=localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mypassword

#IDs of user group and user which will be used inside docker container by the linter to make changes to files
COMPOSE_USER_ID=KNR-i7
COMPOSE_GROUP_ID=1000

#The application and the database will be accessible from the host machine on these ports
EXPOSE_PORT=7788
EXPOSE_DB_PORT=33060

#Secret keys for the access token and refresh token signing
ACCESS_SECRET=access_secret
REFRESH_SECRET=refresh_secret

#Api Key
API_KEY=


